In [1]:
import pandas as pd
from glob import glob

In [2]:
df_18=pd.read_csv(r'C:\Users\hp\Box\Azubi Africa\Project One\post-bap-LP1\startup_funding2018.csv')

In [3]:
df_18

,Company Name,Industry,Round/Series,Amount,Location,About Company,Unnamed: 6,Unnamed: 7
0,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,NaN,NaN
1,AuthMetrik,"B2B, Biometrics, Cyber Security, Fraud Detecti...",Grant,"$10,000","Gurgaon, Haryana, India","SaaS, B2B, Security, Stop account sharing, Fra...",NaN,NaN
2,artbandhu,"Digital Media, Internet, Media and Entertainme...",Pre-Seed,"$15,000","Bangalore, Karnataka, India",Ai platform for Art and Creative Community,NaN,NaN
3,Wimoxez,Internet,Seed,20000,"Hyderabad, Andhra Pradesh, India","Data Intelligence Publishing Platform, We brin...",NaN,NaN
4,Vizzbee,"Artificial Intelligence, Drones, Navigation, P...",Pre-Seed,"$20,000","Bhopal, Madhya Pradesh, India",Autonomous Drone Solutions for last mile deliv...,NaN,NaN
...,...,...,...,...,...,...,...,...
521,Myra,"Apps, Health Care, Pharmaceutical",Venture - Series Unknown,"$118,125.00","Bangalore, Karnataka, India",Myra is a unique solution of technology and op...,NaN,NaN
522,Vogo Rentals,"Last Mile Transportation, Railroad, Transporta...",Debt Financing,"$1,080,000.00","Kormangala, Karnataka, India",Vogo is a dockless scooter rental company in I...,NaN,NaN
523,Origo,—,Venture - Series Unknown,"$10,800,000.00","Gurgaon, Haryana, India","Origo Commodities, a complete post-harvest man...",NaN,NaN
524,Chaayos,"Food and Beverage, Restaurants, Tea",Series B,"$10,935,000.00","New Delhi, Delhi, India",Chaayos was born in November 2012 out of this ...,NaN,NaN
525,PetSutra,Veterinary,Seed,"$128,250.00","Gurgaon, Haryana, India",Gurugram-based Online petcare platform.,NaN,NaN

In [4]:
df_18 ["Founded"] = " "
df_18 ["Investors"] = " " 
df_18 ["Founders"] = " "

df_18

,Company Name,Industry,Round/Series,Amount,Location,About Company,Unnamed: 6,Unnamed: 7,Founded,Investors,Founders
0,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,NaN,NaN,,,
1,AuthMetrik,"B2B, Biometrics, Cyber Security, Fraud Detecti...",Grant,"$10,000","Gurgaon, Haryana, India","SaaS, B2B, Security, Stop account sharing, Fra...",NaN,NaN,,,
2,artbandhu,"Digital Media, Internet, Media and Entertainme...",Pre-Seed,"$15,000","Bangalore, Karnataka, India",Ai platform for Art and Creative Community,NaN,NaN,,,
3,Wimoxez,Internet,Seed,20000,"Hyderabad, Andhra Pradesh, India","Data Intelligence Publishing Platform, We brin...",NaN,NaN,,,
4,Vizzbee,"Artificial Intelligence, Drones, Navigation, P...",Pre-Seed,"$20,000","Bhopal, Madhya Pradesh, India",Autonomous Drone Solutions for last mile deliv...,NaN,NaN,,,
...,...,...,...,...,...,...,...,...,...,...,...
521,Myra,"Apps, Health Care, Pharmaceutical",Venture - Series Unknown,"$118,125.00","Bangalore, Karnataka, India",Myra is a unique solution of technology and op...,NaN,NaN,,,
522,Vogo Rentals,"Last Mile Transportation, Railroad, Transporta...",Debt Financing,"$1,080,000.00","Kormangala, Karnataka, India",Vogo is a dockless scooter rental company in I...,NaN,NaN,,,
523,Origo,—,Venture - Series Unknown,"$10,800,000.00","Gurgaon, Haryana, India","Origo Commodities, a complete post-harvest man...",NaN,NaN,,,
524,Chaayos,"Food and Beverage, Restaurants, Tea",Series B,"$10,935,000.00","New Delhi, Delhi, India",Chaayos was born in November 2012 out of this ...,NaN,NaN,,,
525,PetSutra,Veterinary,Seed,"$128,250.00","Gurgaon, Haryana, India",Gurugram-based Online petcare platform.,NaN,NaN,,,

In [5]:
df_18.rename(columns = {"Company Name":"Company/Brand","About Company":"What it does","Round/Series":"Stage",
                        "Industry":"Sector","Location":"HeadQuarter"}, inplace=True)

In [6]:
df_18.dtypes

Company/Brand     object
Sector            object
Stage             object
Amount            object
HeadQuarter       object
What it does      object
Unnamed: 6       float64
Unnamed: 7       float64
Founded           object
Investors         object
Founders          object
dtype: object

In [7]:
df_18

,Company/Brand,Sector,Stage,Amount,HeadQuarter,What it does,Unnamed: 6,Unnamed: 7,Founded,Investors,Founders
0,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,NaN,NaN,,,
1,AuthMetrik,"B2B, Biometrics, Cyber Security, Fraud Detecti...",Grant,"$10,000","Gurgaon, Haryana, India","SaaS, B2B, Security, Stop account sharing, Fra...",NaN,NaN,,,
2,artbandhu,"Digital Media, Internet, Media and Entertainme...",Pre-Seed,"$15,000","Bangalore, Karnataka, India",Ai platform for Art and Creative Community,NaN,NaN,,,
3,Wimoxez,Internet,Seed,20000,"Hyderabad, Andhra Pradesh, India","Data Intelligence Publishing Platform, We brin...",NaN,NaN,,,
4,Vizzbee,"Artificial Intelligence, Drones, Navigation, P...",Pre-Seed,"$20,000","Bhopal, Madhya Pradesh, India",Autonomous Drone Solutions for last mile deliv...,NaN,NaN,,,
...,...,...,...,...,...,...,...,...,...,...,...
521,Myra,"Apps, Health Care, Pharmaceutical",Venture - Series Unknown,"$118,125.00","Bangalore, Karnataka, India",Myra is a unique solution of technology and op...,NaN,NaN,,,
522,Vogo Rentals,"Last Mile Transportation, Railroad, Transporta...",Debt Financing,"$1,080,000.00","Kormangala, Karnataka, India",Vogo is a dockless scooter rental company in I...,NaN,NaN,,,
523,Origo,—,Venture - Series Unknown,"$10,800,000.00","Gurgaon, Haryana, India","Origo Commodities, a complete post-harvest man...",NaN,NaN,,,
524,Chaayos,"Food and Beverage, Restaurants, Tea",Series B,"$10,935,000.00","New Delhi, Delhi, India",Chaayos was born in November 2012 out of this ...,NaN,NaN,,,
525,PetSutra,Veterinary,Seed,"$128,250.00","Gurgaon, Haryana, India",Gurugram-based Online petcare platform.,NaN,NaN,,,

In [8]:
Titles = list(df_18.columns)

In [9]:
Titles

['Company/Brand',
 'Sector',
 'Stage',
 'Amount',
 'HeadQuarter',
 'What it does',
 'Unnamed: 6',
 'Unnamed: 7',
 'Founded',
 'Investors',
 'Founders']

In [10]:
df_18.iloc[:,[0,6,4,1,5,8,7,3,2]]

,Company/Brand,Unnamed: 6,HeadQuarter,Sector,What it does,Founded,Unnamed: 7,Amount,Stage
0,Mombay,NaN,"Mumbai, Maharashtra, India","Food and Beverage, Food Delivery, Internet",Mombay is a unique opportunity for housewives ...,,NaN,7500,Seed
1,AuthMetrik,NaN,"Gurgaon, Haryana, India","B2B, Biometrics, Cyber Security, Fraud Detecti...","SaaS, B2B, Security, Stop account sharing, Fra...",,NaN,"$10,000",Grant
2,artbandhu,NaN,"Bangalore, Karnataka, India","Digital Media, Internet, Media and Entertainme...",Ai platform for Art and Creative Community,,NaN,"$15,000",Pre-Seed
3,Wimoxez,NaN,"Hyderabad, Andhra Pradesh, India",Internet,"Data Intelligence Publishing Platform, We brin...",,NaN,20000,Seed
4,Vizzbee,NaN,"Bhopal, Madhya Pradesh, India","Artificial Intelligence, Drones, Navigation, P...",Autonomous Drone Solutions for last mile deliv...,,NaN,"$20,000",Pre-Seed
...,...,...,...,...,...,...,...,...,...
521,Myra,NaN,"Bangalore, Karnataka, India","Apps, Health Care, Pharmaceutical",Myra is a unique solution of technology and op...,,NaN,"$118,125.00",Venture - Series Unknown
522,Vogo Rentals,NaN,"Kormangala, Karnataka, India","Last Mile Transportation, Railroad, Transporta...",Vogo is a dockless scooter rental company in I...,,NaN,"$1,080,000.00",Debt Financing
523,Origo,NaN,"Gurgaon, Haryana, India",—,"Origo Commodities, a complete post-harvest man...",,NaN,"$10,800,000.00",Venture - Series Unknown
524,Chaayos,NaN,"New Delhi, Delhi, India","Food and Beverage, Restaurants, Tea",Chaayos was born in November 2012 out of this ...,,NaN,"$10,935,000.00",Series B
525,PetSutra,NaN,"Gurgaon, Haryana, India",Veterinary,Gurugram-based Online petcare platform.,,NaN,"$128,250.00",Seed

In [11]:
df_18.to_csv('startup_funding2018final.csv', index=False)

In [12]:
#Reading the file path
Files = sorted(glob(r"C:\Users\hp\Box\Azubi Africa\Project One\post-bap-LP1\India Startup Funding\startup_funding*.csv"))
Files

['C:\\Users\\hp\\Box\\Azubi Africa\\Project One\\post-bap-LP1\\India Startup Funding\\startup_funding2018final.csv',
 'C:\\Users\\hp\\Box\\Azubi Africa\\Project One\\post-bap-LP1\\India Startup Funding\\startup_funding2019.csv',
 'C:\\Users\\hp\\Box\\Azubi Africa\\Project One\\post-bap-LP1\\India Startup Funding\\startup_funding2020.csv',
 'C:\\Users\\hp\\Box\\Azubi Africa\\Project One\\post-bap-LP1\\India Startup Funding\\startup_funding2021.csv']

In [13]:
#Combining the files in the folder. The for function is interating all the files in the folder
df = pd.concat([pd.read_csv(f) for f in Files], ignore_index=True)
df

,Company/Brand,Sector,Stage,Amount($),HeadQuarter,What it does,Founded,Investor,Founders,Unnamed: 9
0,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,,,,
1,AuthMetrik,"B2B, Biometrics, Cyber Security, Fraud Detecti...",Grant,"$10,000","Gurgaon, Haryana, India","SaaS, B2B, Security, Stop account sharing, Fra...",,,,
2,artbandhu,"Digital Media, Internet, Media and Entertainme...",Pre-Seed,"$15,000","Bangalore, Karnataka, India",Ai platform for Art and Creative Community,,,,
3,Wimoxez,Internet,Seed,20000,"Hyderabad, Andhra Pradesh, India","Data Intelligence Publishing Platform, We brin...",,,,
4,Vizzbee,"Artificial Intelligence, Drones, Navigation, P...",Pre-Seed,"$20,000","Bhopal, Madhya Pradesh, India",Autonomous Drone Solutions for last mile deliv...,,,,
...,...,...,...,...,...,...,...,...,...,...
2874,Gigforce,Staffing & Recruiting,Pre-series A,"$3,000,000",Gurugram,A gig/on-demand staffing company.,2019.0,Endiya Partners,"Chirag Mittal, Anirudh Syal",NaN
2875,Vahdam,Food & Beverages,Series D,"$20,000,000",New Delhi,VAHDAM is among the world’s first vertically i...,2015.0,IIFL AMC,Bala Sarda,NaN
2876,Leap Finance,Financial Services,Series C,"$55,000,000",Bangalore,International education loans for high potenti...,2019.0,Owl Ventures,"Arnav Kumar, Vaibhav Singh",NaN
2877,CollegeDekho,EdTech,Series B,"$26,000,000",Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",2015.0,"Winter Capital, ETS, Man Capital",Ruchir Arora,NaN
2878,WeRize,Financial Services,Series A,"$8,000,000",Bangalore,India’s first socially distributed full stack ...,2019.0,"3one4 Capital, Kalaari Capital","Vishal Chopra, Himanshu Gupta",NaN

In [14]:
#Removing the extra column in the data
df.drop(columns=['Unnamed: 9'], inplace = True)

In [15]:
#Checking the total number of duplicate information
df.duplicated().sum()

23

In [16]:
df2 = df.drop_duplicates(keep='first')

In [17]:
df2

,Company/Brand,Sector,Stage,Amount($),HeadQuarter,What it does,Founded,Investor,Founders
0,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,,,
1,AuthMetrik,"B2B, Biometrics, Cyber Security, Fraud Detecti...",Grant,"$10,000","Gurgaon, Haryana, India","SaaS, B2B, Security, Stop account sharing, Fra...",,,
2,artbandhu,"Digital Media, Internet, Media and Entertainme...",Pre-Seed,"$15,000","Bangalore, Karnataka, India",Ai platform for Art and Creative Community,,,
3,Wimoxez,Internet,Seed,20000,"Hyderabad, Andhra Pradesh, India","Data Intelligence Publishing Platform, We brin...",,,
4,Vizzbee,"Artificial Intelligence, Drones, Navigation, P...",Pre-Seed,"$20,000","Bhopal, Madhya Pradesh, India",Autonomous Drone Solutions for last mile deliv...,,,
...,...,...,...,...,...,...,...,...,...
2874,Gigforce,Staffing & Recruiting,Pre-series A,"$3,000,000",Gurugram,A gig/on-demand staffing company.,2019.0,Endiya Partners,"Chirag Mittal, Anirudh Syal"
2875,Vahdam,Food & Beverages,Series D,"$20,000,000",New Delhi,VAHDAM is among the world’s first vertically i...,2015.0,IIFL AMC,Bala Sarda
2876,Leap Finance,Financial Services,Series C,"$55,000,000",Bangalore,International education loans for high potenti...,2019.0,Owl Ventures,"Arnav Kumar, Vaibhav Singh"
2877,CollegeDekho,EdTech,Series B,"$26,000,000",Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",2015.0,"Winter Capital, ETS, Man Capital",Ruchir Arora
2878,WeRize,Financial Services,Series A,"$8,000,000",Bangalore,India’s first socially distributed full stack ...,2019.0,"3one4 Capital, Kalaari Capital","Vishal Chopra, Himanshu Gupta"

In [19]:
df2 = df2.astype({'Amount($)':'int'})
print(df2.dtypes)

ValueError: invalid literal for int() with base 10: '$10,000 '